<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.8.3" targetFramework="net45" />
  <package id="SSW.Data.Entities" version="1.2.6.0" targetFramework="net45" />
  <package id="SSW.Data.Interfaces" version="1.0.3.0" targetFramework="net45" />
  <package id="SSW.Data.RepositoryInterfaces.Generator" version="1.2.21.0" targetFramework="net45" />
</packages>