<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFramework.BulkInsert-ef6" version="6.0.2.8" targetFramework="net45" />
  <package id="EntityFramework.MappingAPI" version="6.0.0.7" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.8.3" targetFramework="net45" />
  <package id="SSW.AnalyticsInterface.Core" version="1.0.3.0" targetFramework="net45" />
  <package id="SSW.Common" version="1.0.5317.31877" targetFramework="net45" />
  <package id="SSW.Data.DbContext.Generator" version="1.2.13.0" targetFramework="net45" />
  <package id="SSW.Data.EF" version="2.0.0-beta" targetFramework="net45" />
  <package id="SSW.Data.Entities" version="1.2.6.0" targetFramework="net45" />
  <package id="SSW.Data.Interfaces" version="2.0.0-beta2" targetFramework="net45" />
  <package id="SSW.Data.Repositories.Generator" version="1.2.13.0" targetFramework="net45" />
</packages>