
@using SSW.DataOnion.UserGroupDemo.Domain
@model IEnumerable<SSW.DataOnion.UserGroupDemo.WebUI.ViewModels.StudentVm>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>


<table class="table table-striped table-bordered table-responsive">


    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Activities</th>
        <th>Courses</th>
        <th></th>
    </tr>

    @*Danger! iterating over a colleciton of entities with lazy loading  *@
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.CountActivities</td>
            <td>@student.CountCourses</td>
            <td>
                <a href="~/Student/Edit/@student.Id" class=""><i class="glyphicon glyphicon-edit"></i></a>
            </td>

        </tr>
        
    }
    

</table>

